<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #2874f0;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <a href="{{url_for('customer_sign_in')}}"><button type="button" class="btn btn-outline-light btn-rounded">
              Sign up!
            </button></a>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color:#2874f0; ">
        © 2023 Copyright:
        <a class="text-white" href="#">TechSante.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>