<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#2874f0 ; ; " >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1 class="text-white p-3 me-5">TechSante</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form action="{{ url_for('search_result')}}" method="post" class="d-flex me-auto">
        <input class="form-control me-2" type="search" name="search" placeholder="Search product" >
        <button class="btn light-orange" type="submit">Search</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 155px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('customer_logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('customer_login')}}">Login</a>
        </li>
        {% endif %}
        <!-- brand dropdown -->
        {% if brands %}
        <li class="nav-item dropdown text-white">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             brands
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for brand in brands %}
            <li><a class="dropdown-item" href="{{ url_for('product_by_brand',id=brand.id)}}"> {{ brand.name}}</a></li>
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('product_home')}}"> All</a></li>

          </ul>
        </li>


        <!-- category dropdown -->
        <li class="nav-item dropdown text-white">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             category
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <li><a class="dropdown-item" href="{{ url_for('product_by_cat', id=category.id)}}"> {{ category.name}}</a></li>
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('product_home')}}"> All</a></li>

          </ul>
        </li>
        {% endif %}
        <li class="nav-item ">
          <a class="nav-link text-white" href="{{ url_for('show_carts')}}"><i class="fa-solid fa-cart-shopping"></i>cart({{ carts | length }})</a>
        </li>
        {% if current_user.is_authenticated %}
        <li>
          <a href="{{url_for('customer_homepage')}}" class="nav-link text-white">{{current_user.username}}</a>
        </li>
        {% endif %}
      </ul>
     
    </div>
  </div>
</nav>