




        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 mt-5">
                    <div class="card">
                        <img class="card-img-top" height="200" src="{{url_for('static', filename='images/'+product.image_1)}}" alt="product image ">
                        <div class="card-body" style="height:150px;">
                            {% if product.discount > 0 %}
                                <h4 class="text-muted">Discount: {{product.discount}}</h4>
                            {% endif %}
                            <h6 class="text-center">{{product.name}}</h6>
                            <h6 class="text-center">Price: Rs.{{product.price}}</h6>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-sm btn-primary float-end">Details</a>
                            <a href="#" class="btn btn-primary btn-sm float-start">Add to cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>