th, td {
    color: white ;
}

.bg_dark{
    background-color: black;
    color: white;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #d1ecf1 ;
    color: black;
}


.inline {
    display: inline-flex;
}

.dark-orange{
    background-color: #fb641b;
}

.light-orange{
    background-color:#e79900;
   
}
.nav-blue{
    background-color:#2874f0 ;
}



