{% extends "layout.html" %}


{% block content %}


<div class="container-fluid p-0 " >

{% include "_admin_navbar.html" %}

<div class="container mt-5 ">
{% include "_messages.html" %}
</div>
<div class="container mb-5 ">
    <h2 >Site administration</h2>
</div>
<div class="container">


<div class="row">
    <div class="col-lg-8 ">
        <div class="alert alert-info">
            <h3 class=" text-dark" >BRANDS AND CATEGORIES</h3>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div  >
            <h4 class="inline  ">brands</h4>
            <a class ="text-white" href="{{url_for('brands')}}"><h4 class='inline  ' style="position: relative; left:550px">view all</h4></a>
            <a class ="text-white" href="{{url_for('addbrand')}}"><h4 class='inline 'style="position: relative; left:630px" > add</h4></a>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div  >
            <h4 class=" inline " >categories</h2>
                <a class ="text-white" href="{{url_for('category')}}"><h4 class='inline  'style="position: relative; left:510px" >view all</h4></a>
                <a class ="text-white" href="{{url_for('addcategory')}}"><h4 class='inline ' style="position: relative; left:590px"> add</h4></a>
        </div>
    </div>
</div>
</div>





<div class="container mt-5">


    <div class="row">
        <div class="col-lg-8 ">
            <div class="alert alert-info">
                <h3 class="text-dark" >PRODUCTS AND CUSTOMERS</h3>
                
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-8">
            <div  >
                <h4 class=" inline  ">products</h4>
                <a class ="text-white" href="{{url_for('products')}}"><h4 class='inline  ' style="position: relative; left:532px">view all</h4></a>
                <a class ="text-white" href="{{url_for('addproduct')}}"><h4 class='inline  'style="position: relative; left:610px" > add</h4></a>
    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div  >
                <h4 class="inline ">customers </h2>
                    <a class ="text-white"href="{{url_for('customer')}}"><h4 class='inline  'style="position: relative; left:516px" >view all</h4></a>
                    <a class ="text-white" href="{{url_for('customer_sign_in')}}"><h4 class='inline ' style="position: relative; left:592px"> add</h4></a>
            </div>
        </div>
    </div>
    </div>




</div>
{% endblock content %}