{% extends "layout.html" %}


{% block content %}
    <div class="container-fluid p-0 bg-dark">
        {% include "_admin_navbar.html" %}
        <div class="container pt-5">
            {% include "_messages.html" %}
        </div>
      
        <div class="container ">
            <div class="text-center text-dark p-1 mb-4 alert alert-info">
                <h2>{{ table_heading}} INFORMATION</h2>
            </div>
            <table class="table table-sm-5 table-hover">
                <thead>
                    <th>Sl.No</th>
                    <th>Brand Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
           {% if brands %}
                <tbody>
                    {% for brand in brands %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{brand.name}}</td>
                        <td> <a class="btn alert alert-warning p-1" style="width: 60px;" href="{{ url_for('updatebrand', id=brand.id)}}"> Edit </a></td>
                        <td>
                            <!-- <a class="btn btn-outline-danger" href="{{ url_for('deletebrand', id=brand.id )}}"> Delete </a> -->
                            <button type="button" style="width: 60px;" class="btn alert alert-danger p-1" data-bs-toggle="modal" data-bs-target="#exampleModal-{{brand.id}}">
                                Delete
                            </button>
                        </td>
                    </tr>
                    

                    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLabel">{{brand.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class="text-danger">Are you sure that you want to delete this brand {{brand.name}}? </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{{ url_for('deletebrand', id=brand.id )}}"> 
            <button type="button" class="btn btn-primary" style="width: 68px;">Yes</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
                </tbody>
                {% else %}
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{category.name}}</td>
                        <td> <a class="btn alert alert-warning p-1" style="width: 60px;" href="{{ url_for('updatecat', id=category.id)}}"> Edit </a></td>
                        <td>
                            <!-- <a class="btn btn-outline-danger" href="{{ url_for('deletecat', id=category.id )}}"> Delete </a> -->
                            <button type="button" style="width: 60px;" class="btn alert alert-danger p-1" data-bs-toggle="modal" data-bs-target="#exampleModal-{{category.id}}">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-dark" >{{category.name}}</h5>
                            </div>
                            <div class="modal-body">
                              <span class="text-danger">Are you sure that you want to delete this category {{category.name}}? </span>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a href="{{ url_for('deletecat', id=category.id )}}"> 
                                <button type="button" class="btn btn-primary" style="width: 68px;">Yes</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>



                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>

    </div>
{% endblock %}