{% extends "layout.html" %}



{% block content %}
<div class="container-fluid p-0 " >

    {% include "_admin_navbar.html" %}
    <div class="container mt-5 ">
        {% include "_messages.html" %}
  
    <div class="container mb-5 text-center text-dark alert alert-info p-1">
        <h2 > Product information </h2>
    </div>
    <div class="container  ">
        <table class="table table-sm-5 table-hover">
            <thead>
                <th>Sl.No</th>
                <th>Product</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Brand</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for product in products%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.discount}}</td>
                    <td>{{product.brand.name}}</td>
                    <td>
                        <img src="{{url_for('static',filename='images/product_images/'+product.image_1)}}" width="50" height="40" alt="product image">
                    </td>
                    <td> <a class="btn alert alert-warning p-1" style="width: 60px;" href="{{ url_for('updatepro', id=product.id)}}"> Edit </a> </td>
                    <td>
                        <!-- <a class="btn alert alert-danger p-1" style="width: 60px;" href="{{ url_for('deleteproduct', id=product.id) }}"> Delete </a>  -->
                        <button type="button" class="btn alert alert-danger p-1" style="width: 60px;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{product.id}}">
                            Delete
                          </button>
                    </td>
    
                </tr>

                <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">{{product.name}}</h5>
=        </div>
        <div class="modal-body">
          <span class="text-danger ">Are you sure want to delete this product {{product.name}}?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{{ url_for('deleteproduct', id=product.id) }}">
                <button type="button" class="btn btn-primary" >Yes</button>
           </a>
        </div>

      </div>
    </div>
  </div>
  
                {% endfor %}
            </tbody>
        </table>
      
    </div>

</div>
</div>

{% endblock content %}