{% extends "layout.html" %}


{% block content %}
{% include "_messages.html" %}
{% if brands %}
<div class="row">
    <div class="col-lg-7 mt-5">
        <form action="{{url_for('addbrand')}}" method="post" >
            <div class="text-center h1 text-white bg-primary p-2">
                <h2 >Add brand</h2>
                
            </div>
            <input class="form-control mt-3" type="text" name="brands" placeholder="Enter your category name">
            <button class="btn  btn-primary mt-3" type="submit"> Add brand </button>
        </form>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-lg-7 mt-5">
        <form action="{{url_for('addcategory')}}" method="post">
            <div class="text-center h1 text-white bg-primary p-2">
                <h2 >Add product</h2>
                
            </div>           
             <input class="form-control mt-3" type="text" name="category" placeholder="Enter your category name">
            <button class="btn  btn-primary mt-3" type="submit"> Add category </button>
        </form>
    </div>
</div>

{% endif %}

{% endblock content %}