{% extends "layout.html" %}


{% block content %}

<div class="container-fluid  p-0   ">
    {% include "_home_navbar.html" %}
    <div class="container">

        <div class="row">
            {% for product in products %}
            <div class="col-md-8 mt-5">
                <div class="card">
                   <div class="card-body">
                    <img class=" card-img-top float-start me-lg-5"  style="width:180px ; " src="{{url_for('static', filename='images/'+product.image_1)}}"  width="40" height="180"alt="product image ">
                    <h5>Discount: {{product.discount}}%</h5>
                    <h6 class="text-dark mt-3" style="margin-left:250px;">{{product.name}}</h6>
                    <h6 class="text-dark" style="margin-left:250px;"> Price: Rs.{{product.price}} </h6>
                   </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock content %}
