{% extends "layout.html" %}


{% block content %}

<div class="container-fluid  p-0   ">
    {% include "_home_navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-sm btn-primary float-end">Details</a>
                        <a href="#" class="btn btn-primary btn-sm float-start">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}