{% extends "layout.html" %}



{% block content %}

<div class="container-fluid p-0">
    {% include "_home_navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7"  >
                <div class="row">
                    {% for key, product in session['shopping_cart'].items() %}
                    <div class="col-md-12 ">
                        {% set pro_discount = ((product.discount/100) * product.price  ) %}
                        <div class="card" style="border: none;">
                           <div class="card-body">
                            <img class=" card-img-top float-start me-lg-5 "  style="width:180px ; margin-left: 55px; " src="{{url_for('static', filename='images/'+product.image)}}"  width="40" height="150"alt="product image ">
                          
                            <h6 class="text-dark mt-3" style="margin-left:320px;">{{product.name}}</h6>
                            <h6 class="text-dark" style="margin-left:320px;"> Price: Rs.{{product.price}} </h6>
                            {% if product.discount > 0 %}
                            <h6 class="text-dark" style="margin-left:320px;">Discount: <span class="text-success">-{{ pro_discount}}</span> ({{ product.discount }}%off)</h5>
                            {% endif %}
                            <h6 style="margin-left:320px;">Quantity: {{product.quanity}}</h6>
                        <div class="card-footer" style="position:absolute ; left:320px; bottom:10px; background-color: white; border: none; ">
                      
                        </div>  
                        </div>
        
                        </div>
            </div>
            {% endfor%}
         
        </div>
        
    </div>
    <div class="col-lg-4 ">
        <div class="card  m-0 mt-5 ms-3">
            <div class="card-header m-0 pt-3 pb-3">
                PRICE DETAILS 
            </div>
            <div class="card-body">
                <hr style="position: relative; top: 130px;">
                <div class="row">

               
                <div class="col-lg-5 m-0 ">
                <h6>price ({{ session['shopping_cart'] | length }} items)</h6>
                <h6 class="mt-3">Discount </h1> 
                    <h6 class="mt-3">Delivery charges </h1>  
                        <h6 class="mt-5">Total Amount </h6>
                       
            </div> 
            <div class="col m-0">
               
            </div>
            <div class="col-lg-4 text-lg-end">
                <h6>₹{{total_price}} </h6>
                <h6 class="mt-3 text-success">-₹{{total_discount}} </h6>
                    <h6 class="mt-3 "><span class="text-muted text-decoration-line-through">₹100  </span>free</h6>
                    <h6 class="mt-5">₹{{final_amount}}</h6>
                    
            </div> 
        </div>
        <h6 class="text-success mt-3">You will save ₹{{total_saving}} on this order</h6>
        </div>
        </div>
        <form action="#" >
            <button class="btn btn-lg btn-primary mt-5 ms-3 text-center" style="width: 200px;">Place order</button>
        </form>
    </div>

   

</div>
</div>
</div>

{% endblock content %}