{% extends "layout.html" %}
{% block content %}


<div class="container-fluid p-0">
    {% include "_home_navbar.html" %}
    <div class="container ">
    {% include "_messages.html" %}
        
        
        <div class="row mt-4">
            <div class="col-lg-7"  >
                <div class="card mb-4" style="border: none;">
                    <h3>Shopping cart</h3>
                </div>
                <div class="row">
                    {% for cart in carts %}
                    <div class="col-md-12 ">
                        {% set pro_discount = ((cart.product.discount/100) * cart.product.price  ) %}
                        <div class="card mb-5" style="border: none;">
                           <div class="card-body">
                            <img class=" card-img-top float-start me-lg-5 "  style="width:180px ; margin-left: 55px; " src="{{url_for('static', filename='images/'+cart.product.image_1)}}"  width="40" height="150"alt="product image ">
                            <a href="{{ url_for('single_product', id=cart.id)}}">

                                <h6 class="text-dark mt-3" style="margin-left:320px;">{{cart.product.name}}</h6>

                            </a>
                            <h6 class="text-dark" style="margin-left:320px;"> Price: Rs.{{cart.product.price}} </h6>
                            {% if cart.product.discount > 0 %}
                            <h6 class="text-dark" style="margin-left:320px;">Discount: <span class="text-success">-{{ pro_discount}}</span> ({{ cart.product.discount }}%off)</h5>
                            {% endif %}
                        <div class="card-footer " style="position:absolute ; left:320px; ; background-color: white; border: none; ">
                            <form action="{{url_for('update_cart', id=cart.id)}}" method="post">
                                <label class="form-label">quantity:</label>
                                <input class="form-control-sm"type="number" name="quantity" value="{{cart.quantity}}" min="1" max="{{cart.product.stock}}">
                                <button type="submit" > update </button>
                            </form>
                            <a class="text-dark "  href="{{ url_for('remove_cart', id = cart.id)}}"><h6 style="font-size: 15px;" ><i class="fa-solid fa-trash text-danger " style="font-size: 15px;" ></i> Remove item </h6></a>
                        </div>  
                        </div>
        
                        </div>
            </div>
            {% endfor%}
            <a href="{{ url_for('clear_cart')}}">Clear cart</a>
         
        </div>
        
    </div>
    
    <div class="col-lg-4 ">
        <div class="card  m-0 mt-5 ms-3">
            <div class="card-header m-0 pt-3 pb-3">
                PRICE DETAILS 
            </div>
            <div class="card-body">
                <hr style="position: relative; top: 130px;">
                <div class="row">

               
                <div class="col-lg-5 m-0 ">
                <h6>price ({{ carts  | length }} items)</h6>
                <h6 class="mt-3">Discount </h1> 
                    <h6 class="mt-3">Delivery charges </h1>  
                        <h6 class="mt-5">Total Amount </h6>
                       
            </div> 
            <div class="col m-0">
               
            </div>
            <div class="col-lg-4 text-lg-end">
                <h6>₹{{total_price}} </h6>
                <h6 class="mt-3 text-success">-₹{{total_discount}} </h6>
                    <h6 class="mt-3 "><span class="text-muted text-decoration-line-through">₹100  </span>free</h6>
                    <h6 class="mt-5">₹{{final_amount}}</h6>
                    
            </div> 
        </div>
        <h6 class="text-success mt-3">You will save ₹{{total_saving}} on this order</h6>
        </div>
        </div>
        
           <a href="#">
            <button class="btn btn-lg dark-orange mt-5 ms-3 text-center" style="width: 200px;">Place order</button>
        </a> 
    </div>

   

</div>
</div>
</div>



{% endblock content %}